// @import "../../../../assets/scss/shared";
$loaderDuration: 1.3s;
.faded-loading-screen {
  position: fixed;
  z-index: 999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  .spinner {
    width: 65px;
    height: 65px;
    position: relative;
    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: green;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      animation: skBounce $loaderDuration infinite ease-in-out;
    }
    &:after {
      animation-delay: (-$loaderDuration/2);
    }
  }

  @keyframes skBounce {
    from,
    to {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }

  @keyframes skBounce {
    from,
    to {
      transform: scale(0);
      -webkit-transform: scale(0);
    }
    50% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}